.containerInput{
display: flex;
justify-content: space-between;
margin-left: 10px;
margin-right: 10px;
margin-top: 43px;

}
.inputBuscar{
border-radius: 15px;
border: 1px solid rgb(189,210,214);
width: 200pt;
height: 28pt;

}
.back{
    width: 24pt;
    height: 24pt;
}
// .input-icono {
//     background-image: url('../../../public/assets/img/logo/lupa.png');
//     background-repeat: no-repeat;
//     background-position: 4px center;
//     background-size: 20px;
//     display: flex;
//     justify-content: end;
//     align-items: end;
//     width: 300px;
//     padding-left: 28px;
//     height: 30px;
//     border: 1px solid rgba(9, 113, 163, 1);
//     border-radius: 3px;
//   }
//   .input-icono input {
//     width: 100%;
//     font-size: 0.9em;
//     border: none;
//   }
//   .input-icono input:focus {
//     outline: none;
//   }