    
   
   .container1 {
      width: 274px;
      border-radius: 10px;
      box-shadow: 0px 2px 5px rgb(65, 155, 249);
      display: flex;
      margin-bottom: 30px;
      background-color: #B7CDD2;
      margin-left: 8vh;
    }
    
   
    .img_container img{
    margin-top:12px ;  
    }
    
   
    .info_container {
       width: 75%;
       overflow: hidden;
     }
    
   
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgb(65, 155, 249);
      text-align: center;
    }
    
   
    p {
      font-size: 14px;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgba(0, 0, 0, 0.657);
      text-align: center;
    }
    

